services:
  allomedia-backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile
      target: development
    image: allomedia-backend
    command: npm run dev
    env_file:
      - ./backend/.env
    ports:
      - 4000:4000
  allomedia-frontend: 
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
      target: development
    image: allomedia-frontend
    command: npm run dev
    env_file:
      - ./frontend/.env
    ports:
      - 5173:5173
  mongo:
    image: mongo
    
  
