@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .modal-inscreption{
        @apply 
            absolute z-[10000] w-[95%] sm:w-[80%] md:w-[60%] lg:w-[50%] 
            xl:w-[38%] 2xl:w-[30%] min-h-[75%] bg-black top-[50%] 
            left-[50%] translate-x-[-50%] translate-y-[-50%] flex 
            p-3 py-5 flex-col opacity-70 rounded-md lg:rounded-2xl
    }
}
